#chat, #chat-popout {
    gap: 5px;
}

.chat-tabs {
    flex: 0;
}

.chat-tabs > .item {
    flex: 1;
    border-radius: 5px;
}

.chat-tabs > .item.active {
    color: var(--color-text-light-highlight);
    border: 1px solid var(--color-border-highlight-alt);
    box-shadow: 0 0 6px inset var(--color-shadow-highlight);
}

.dialogue-notification, .rolls-notification {
    top: 3px;
    right: 3px;
    display: none;
}